* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#navbar {
	padding: 10px 30px;
}

.jumbotron {
	border-radius: 0 !important;
}

/* HOME  */

.home-hero-image {
	background-image: url("./assets/images/hero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 45vh;
}

/* .hero-column {
	padding-right: 0;
	padding-left: 0;
} */

.hero-school-home-image {
	width: 35%;
	margin-bottom: 15px;
}

.hero-button {
	background-color: white;
	color: black;
	border: none;
	font-weight: 600;
	margin-top: 10px;
	border: 1px solid lightgray;
}

.hero-text-home {
	width: 50%;
	text-align: center;
	/* margin-top: 20px; */
}

.hero-text > h5 {
	font-size: x-large;
	color: black;
}

.myCards {
	border-radius: 10px;
	box-shadow: 5px 10px 17px -7px rgba(0, 0, 0, 0.75);
}

/* COURSES  */

.courses-hero-image {
	background-image: url("./assets/images/courseHero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 40vh;
}

.hero-school-course-image {
	width: 30%;
}

.hero-text-courses {
	width: 80%;
	text-align: center;
	margin: 0 auto;
}

/* fix media queries for nav on mobile  */
/* @media screen and (max-width: 500px) {
	#navbar {
		padding: 0px 15px;
	}
} */
