@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Open+Sans:wght@300;400;600;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
}

#navbar {
	padding: 15px 30px;
}

.nav-link {
	font-family: "Open Sans", sans-serif;
	font-weight: 800 !important;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.jumbotron {
	border-radius: 0 !important;
	box-shadow: 5px 10px 17px -7px rgba(0, 0, 0, 0.75);
}
.headerText {
	font-weight: 800;
}

.footer-text {
	font-size: 0.8em;
	color: gray;
}

.siteInput {
	border: none;
	border-bottom: 1px solid lightgray;
	outline: none;
}

/* HOME  */

.home-hero-image {
	background-image: url("./assets/images/hero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 45vh;
}

.hero-school-home-image {
	width: 35%;
	margin-bottom: 15px;
}

.hero-button {
	background-color: white;
	color: black;
	border: none;
	font-weight: 600;
	margin-top: 10px;
	border: 1px solid lightgray;
}

.hero-text-home {
	width: 50%;
	text-align: center;
}

.myCards {
	box-shadow: 5px 10px 17px -7px rgba(0, 0, 0, 0.75);
	border: none;
}
.card-img {
	border-radius: 0;
}

.cardTitle {
	color: rgb(240, 239, 239);
	position: absolute;
	bottom: 20px;
	margin: 0 auto;
	text-align: center;
	text-shadow: 1px 2px #000;
}

/* COURSES  */

.courses-hero-image {
	background-image: url("./assets/images/courseHero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 40vh;
}

.hero-school-course-image {
	width: 30%;
}

.hero-text-courses {
	width: 80%;
	text-align: center;
	margin: 0 auto;
}
.coursesOffered {
	color: rgba(87, 87, 87);
	font-weight: 600;
}
.courseCards {
	box-shadow: 5px 10px 17px -7px rgba(0, 0, 0, 0.75);
	border: none;
}
#viewButton,
.siteButton {
	background-color: #0a51b0;
	border: 1px solid #0a51b0;
}
#viewButton:hover {
	background-color: white;
	color: #0a51b0;
}

/* VIEW COURSE  */
.logo {
	height: 60px;
	position: absolute;
	top: 15px;
	right: 15px;
}

.enrolleeTable {
	border: none;
}

/* LOGIN  */
.loginForm {
	display: flex;
	flex-direction: column;
}

/* REGISTER  */
.registerForm {
	display: flex;
	flex-direction: column;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* .hero-column {
	padding-right: 0;
	padding-left: 0;
} */

/* MEDIA QUERIES  */

/* wide laptop */
@media screen and (max-width: 1200px) {
	.home-hero-image {
		height: 50vh;
	}
}

/* small laptop */
@media screen and (max-width: 900px) {
	.home-hero-image {
		height: 60vh;
	}
	.hero-text-home {
		margin-top: 25px;
	}
	.hero-school-home-image {
		width: 40%;
	}
}
@media screen and (max-width: 670px) {
	.hero-school-home-image {
		width: 50%;
	}
	.home-hero-image {
		height: 62vh;
	}
	.cardTitle {
		font-size: 1em;
	}
	.hero-school-course-image {
		width: 40%;
	}
}

/* wide phone  */
@media screen and (max-width: 575px) {
	.home-hero-image {
		height: 40vh;
	}
	.hero-school-course-image {
		width: 45%;
		margin-top: 25px;
	}
	.hero-text-home {
		width: 60%;
		margin-top: 7px;
	}
	.hero-button {
		font-size: 0.9em;
	}
}

/* average mobiles and below  */
@media screen and (max-width: 500px) {
	#navbar {
		padding: 6px 20px;
	}
	.coursesOffered {
		margin-top: 0 !important;
	}
	.courseCards {
		margin-top: 0px !important;
	}

	.viewCourseJumbo {
		margin-top: 0 !important;
	}
	.hero-school-home-image {
		width: 70%;
	}
	.headerText {
		font-size: 1em;
	}
	.navbar-toggler-icon {
		width: 1em;
		height: 1em;
	}
	.navbar-toggler {
		font-size: 1rem;
		padding: 0.2rem 0.5rem;
	}
	.nav-logo {
		width: 120px;
	}
	.nav-link {
		font-size: 0.8em;
		padding: 0.4rem 0.7rem;
	}
	.hero-school-course-image {
		width: 52%;
	}
}
