@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Open+Sans:wght@300;400;600;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
}

#navbar {
	padding: 15px 30px;
}

.nav-link {
	font-family: "Open Sans", sans-serif;
	font-weight: 800 !important;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.jumbotron {
	border-radius: 0 !important;
	box-shadow: 5px 10px 17px -7px rgba(0, 0, 0, 0.75);
}

.footer-text {
	font-size: 0.8em;
	color: gray;
}

.siteInput {
	border: none;
	border-bottom: 1px solid lightgray;
	outline: none;
}

/* HOME  */

.home-hero-image {
	background-image: url("./assets/images/hero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 45vh;
}

.hero-school-home-image {
	width: 35%;
	margin-bottom: 15px;
}

.hero-button {
	background-color: white;
	color: black;
	border: none;
	font-weight: 600;
	margin-top: 10px;
	border: 1px solid lightgray;
}

.hero-text-home {
	width: 50%;
	text-align: center;
	/* margin-top: 20px; */
}

.hero-text > h5 {
	font-size: x-large;
	color: black;
}

.myCards {
	box-shadow: 5px 10px 17px -7px rgba(0, 0, 0, 0.75);
	border: none;
}
.card-img {
	border-radius: 0;
}

/* COURSES  */

.courses-hero-image {
	background-image: url("./assets/images/courseHero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 40vh;
}

.hero-school-course-image {
	width: 30%;
}

.hero-text-courses {
	width: 80%;
	text-align: center;
	margin: 0 auto;
}
.coursesOffered {
	color: rgba(87, 87, 87);
	font-weight: 600;
}
.courseCards {
	box-shadow: 5px 10px 17px -7px rgba(0, 0, 0, 0.75);
	border: none;
}
#viewButton,
.siteButton {
	background-color: #0a51b0;
	border: 1px solid #0a51b0;
}
#viewButton:hover {
	background-color: white;
	color: #0a51b0;
}

/* VIEW COURSE  */
.logo {
	height: 60px;
	position: absolute;
	top: 15px;
	right: 15px;
}

/* LOGIN  */
.loginForm {
	display: flex;
	flex-direction: column;
}

/* REGISTER  */
.registerForm {
	display: flex;
	flex-direction: column;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* fix media queries for nav on mobile  */
/* @media screen and (max-width: 500px) {
	#navbar {
		padding: 0px 15px;
	}
} */

/* .hero-column {
	padding-right: 0;
	padding-left: 0;
} */

@media screen and (max-width: 500px) {
	#navbar {
		padding: 10px 15px;
	}
	.coursesOffered {
		margin-top: 0 !important;
	}
	.courseCards {
		margin-top: 0px !important;
	}

	.viewCourseJumbo {
		margin-top: 0 !important;
	}
}
