* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.jumbotron {
	border-radius: 0 !important;
}

#hero-image {
	background-image: url("./assets/images/hero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 45vh;
}

#hero-column {
	padding-right: 0;
	padding-left: 0;
}

#hero-school-image {
	width: 15%;
}
#hero-button {
	background-color: white;
	color: black;
	border: none;
	font-weight: 600;
}
